@import "vars";

.OrderItem {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.OrderItem figure {
    margin: 0;
}
.OrderItem figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.OrderItem p:nth-child(2) {
    color: var(--very-light-pink);
}

.OrderItem p:nth-child(2) > span {
    background-color: green;
    border: none;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 0 0 8px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.OrderItem p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}
